<?php
define("TITLE", "Market Sys"); // Title of your system
define("URL", "localhost"); // URL of your system
define("BASE_URL", "http://".URL.":8080/"); // Base URL of your system
define("AUTH_KEY", "RAFAELGARCIA123"); // Change this key to something more complex (important)

define("DB_HOST", "localhost"); // Database host
define("DB_USER", "postgres"); // Database user
define("DB_PASS", "admin"); // Database password
define("DB_NAME", "market"); // Database name
define("DB_PORT", "5432"); // Database port
